/* TYPOGRAPHY */

@import url("https://fonts.googleapis.com/css?family=Lily+Script+One");
@import url("https://fonts.googleapis.com/css?family=Old+Standard+TT:400,400italic,700");

:root {
	--main-font-color: #664345;
	--secondary-font-color: #ffffff;
	--accent-font-color: #ed3d5b;
	--primary-background-color: #7f7a7a;
	--secondary-background-color: #674343;
}

.accentWord {
	color: var(--accent-font-color);
}

h2 {
	text-align: center;
	text-transform: capitalize;
	font-size: 3rem;
	position: relative;
	margin-bottom: 50px;
}

h2:after {
	content: "";
	position: absolute;
	height: 10px;
	width: 50px;
	background-color: var(--main-font-color);
	top: 100%;
	left: 50%;
	transform: translateX(-50%);
}

p {
	margin-bottom: 20px;
	line-height: 1.6;
}
/* GLOBAL STYLES */

html {
	background: url("../images/back.png");
	color: var(--main-font-color);
	font-family: "Lily Script One", cursive;
	font-size: 125%;
}

.wrapper {
	width: 75%;
	max-width: 650px;
	margin: 0 auto;
	height: 100%;
}

* {
	margin: 0;
	padding: 0;
}

.circle {
	width: 160px;
	height: 160px;
	background: var(--secondary-font-color);
	border-radius: 50%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
