/* TYPOGRAPHY */

@import url("https://fonts.googleapis.com/css?family=Lily+Script+One");
@import url("https://fonts.googleapis.com/css?family=Old+Standard+TT:400,400italic,700");

:root {
	--main-font-color: #664345;
	--secondary-font-color: #ffffff;
	--accent-font-color: #ed3d5b;
	--primary-background-color: #7f7a7a;
	--secondary-background-color: #674343;
	--header-background-color: #c5c3c3;
}

.accentWord {
	color: var(--accent-font-color);
}

h1 {
	margin: 10px 0;
}

h2 {
	text-transform: capitalize;
	font-size: 3rem;
	position: relative;
	margin-bottom: 50px;
}

h2:after {
	content: "";
	position: absolute;
	height: 10px;
	width: 50px;
	background-color: var(--main-font-color);
	top: 120%;
	left: 50%;
	transform: translateX(-50%);
}

h3 {
	margin: 20px 0;
}

p {
	margin-bottom: 20px;
	line-height: 1.6;
}
/* GLOBAL STYLES */

html {
	background: url("../images/back.png");
	color: var(--main-font-color);
	font-family: "Lily Script One", cursive;
	font-size: 125%;
	text-align: center;
}

.wrapper {
	width: 75%;
	max-width: 750px;
	margin: 0 auto;
}

* {
	margin: 0;
	padding: 0;
}

.link {
	background: var(--main-font-color);
	color: var(--secondary-font-color);
	padding: 15px;
	border-radius: 10px;
	text-decoration: none;
	text-transform: lowercase;
}

.headerLink {
	background: var(--accent-font-color);
}
