.about {
	text-align: center;
}

.ourHistory {
	background: var(--secondary-background-color);
	color: var(--secondary-font-color);
}

.about section {
	padding: 100px 0;
}

.quote {
	background: var(--primary-background-color);
	color: var(--secondary-font-color);
}

.socialMedia {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.socialMedia > * {
	margin: 10px;
}
