.header {
	min-height: 60vh;
	background-color: var(--primary-background-color);
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.homePageHeader {
	margin-top: 100px;
	color: var(--secondary-font-color);
	text-transform: capitalize;
	font-size: 2.5rem;
}
