.navigation {
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: relative;
	margin-bottom: 50px;
}

.navigation:before,
.navigation:after {
	content: "";
	height: 0;
	width: 0;
	position: absolute;
	top: 42%;
	background: white;
	border: 50px solid white;
}

.navigation:before {
	left: -70px;
	border-left: 50px solid var(--primary-background-color);
	border-bottom-right-radius: 7px;
}

.navigation:after {
	right: -70px;
	border-right: 50px solid var(--primary-background-color);
	border-bottom-left-radius: 7px;
}

.navigationList {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 30px 40px;
	background-color: white;
	list-style: none;
	border: 2px solid var(--primary-background-color);
	z-index: 9;
}

.navigationLink {
	text-decoration: none;
	color: var(--main-font-color);
}

.navigationLink:hover {
	color: var(--accent-font-color);
}

.logo {
	font-size: 1.5rem;
}

.active {
	color: var(--accent-font-color);
}
